/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
  }
}

/* Dragula necessary styles */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* App styles */
:root {
  --smash-color: hsl(120, 59%, 55%);
  --pass-color: hsl(357, 81%, 58%);
  --neutral-color: hsl(200, 67%, 65%);
  --disabled: hsl(0, 0%, 61%);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: clamp(16px, 6vw - 1rem, 20px) clamp(16px, 6vw - 1rem, 48px) 16px;
  display: grid;
  font-size: clamp(1.1rem, 2vw + 1rem, 2rem);
}

.smash-body,
.tier-body {
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.home-body {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.home-main {
  align-self: self-start;
  display: grid;
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-content: center;
}

.tier-main {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  /* align-items: center; */
  justify-items: center;
  gap: 24px;
}

.smash-main {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  gap: 24px;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "sprite"
    "info"
    "smash"
    "pass"
    "num";
}

#smash {
  grid-area: smash;
  justify-self: stretch;
  align-self: center;
}

#pass {
  grid-area: pass;
  justify-self: stretch;
  align-self: center;
}

.info {
  text-align: start;
  align-items: start;
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#name {
  font-size: clamp(2.5rem, 5vw + 1.5rem, 4rem);
}

.smash-img {
  grid-area: sprite;
  min-width: 100px;
  aspect-ratio: 1/1;
}

.num {
  grid-area: num;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 1.7rem;
}

footer {
  margin-top: 32px;
  font-size: 1rem;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

footer.home {
  grid-row: 3/4;
  align-self: self-end;
}

footer > :last-child {
  margin: 16px auto 0;
}

p,
h1,
h2 {
  text-align: center;
}

h1 {
  line-height: 1.3em;
}

ul {
  padding: 0;
}

.title {
  margin-bottom: 32px;
  grid-row: 1/2;
  align-self: self-end;
}

.preamble {
  max-width: 700px;
  margin-bottom: 32px;
  justify-self: center;
}

.preamble > :first-child {
  margin-bottom: 16px;
}

.medium-font {
  font-size: clamp(1rem, 5vw - 1rem, 1.4rem);
}

#button-intro {
  margin-bottom: 16px;
}

.button-wrapper {
  display: grid;
  max-width: 910px;
  align-items: center;
  justify-items: center;
  row-gap: 16px;
  column-gap: 32px;
  justify-content: center;
}

.green {
  color: var(--smash-color);
  -webkit-text-stroke: 2px black;
}

.red {
  color: var(--pass-color);
  -webkit-text-stroke: 2px black;
}

.button,
button {
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 100vw;
  color: rgb(0, 0, 0);
  padding: 0.3em 0.8em;
  font-weight: 700;
}

.large {
  font-size: clamp(1.5rem, 1vw + 1.25rem, 2rem);
  font-weight: 700;
  padding: 1em 1.5em;
  min-width: 7em;
  line-height: 2rem;
}

.secondary-bttn {
  font-size: 1.25rem;
}

button:disabled {
  background-color: var(--disabled);
}

.neutral {
  background-color: var(--neutral-color);
}

.neutral:hover,
.neutral:focus-visible {
  background-color: hsl(200, 100%, 71%);
}

.smash {
  background-color: var(--smash-color);
  box-shadow: 5px 7px 19px -2px rgba(183, 236, 177, 1) inset,
    -6px -8px 27px -5px rgb(33, 134, 22) inset,
    2px 4px 5px -2px rgba(38, 150, 25, 1);
  -webkit-box-shadow: 5px 7px 19px -2px rgba(183, 236, 177, 1) inset,
    -6px -8px 27px -5px rgb(33, 134, 22) inset,
    2px 4px 5px -2px rgba(38, 150, 25, 1);
  -moz-box-shadow: 5px 7px 19px -2px rgba(183, 236, 177, 1) inset,
    -6px -8px 27px -5px rgb(33, 134, 22) inset,
    2px 4px 5px -2px rgba(38, 150, 25, 1);
}

.smash:hover,
.smash:focus-visible {
  background-color: rgb(125, 240, 112);
}

.pass {
  background-color: var(--pass-color);
  box-shadow: 5px 7px 19px -2px rgb(236, 177, 177) inset,
    -6px -8px 27px -5px rgb(134, 22, 22) inset,
    2px 4px 5px -2px rgb(150, 25, 25);
  -webkit-box-shadow: 5px 7px 19px -2px rgb(236, 177, 177) inset,
    -6px -8px 27px -5px rgb(134, 22, 22) inset,
    2px 4px 5px -2px rgb(150, 25, 25);
  -moz-box-shadow: 5px 7px 19px -2px rgb(236, 177, 177) inset,
    -6px -8px 27px -5px rgb(134, 22, 22) inset,
    2px 4px 5px -2px rgb(150, 25, 25);
}

.pass:hover,
.pass:focus-visible {
  background-color: rgb(255, 76, 67);
}

.to-save {
  justify-self: stretch;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

p.percent:last-of-type {
  margin-bottom: 16px;
}

.tier-grid {
  display: flex;
  flex-direction: column;
}

.tier {
  display: flex;
  border: 5px solid black;
}

.tier:not(:first-child) {
  border-top: none;
}

.sprites-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  min-height: 80px;
  max-width: 1440px;
}

.rank-label {
  min-width: 3rem;
  border-right: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite {
  width: 80px;
  aspect-ratio: 1/1;
  /* background-color: blueviolet;
  border: 1px solid darkcyan; */
  font-size: 1rem;
  cursor: grab;
}

dialog p {
  text-align: start;
  margin-bottom: 16px;
}

canvas,
.description {
  outline: 2px solid var(--disabled);
  margin-bottom: 16px;
}

.description p {
  margin-bottom: 0;
}

dialog button {
  margin-block-start: auto;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0);
  opacity: 70%;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 1rem;
  margin-bottom: 16px;
}
.blue-text {
  color: hsl(231, 80%, 66%);
  color: var(--pass-color);
}

.tier:nth-child(1) {
  background-color: var(--pass-color);
}
.tier:nth-child(2) {
  background-color: hsl(26, 90%, 57%);
}
.tier:nth-child(3) {
  background-color: hsl(53, 86%, 68%);
}
.tier:nth-child(4) {
  background-color: hsl(188, 100%, 71%);
}
.tier:nth-child(5) {
  background-color: hsl(231, 80%, 66%);
}

@media screen and (min-width: 1004px) {
  .button-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
  }

  .button-wrapper.two-col {
    justify-content: space-between;
  }

  .title {
    margin-bottom: 48px;
  }

  .to-save {
    width: 1000px;
    justify-self: auto;
  }
}

@media screen and (min-width: 840px) {
  .smash-main {
    max-width: 72rem;
    gap: 32px;
    justify-items: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "info sprite"
      "smash pass"
      "num num";
  }

  #smash {
    justify-self: end;
    margin-inline-end: 40px;
  }

  #pass {
    justify-self: start;
    margin-inline-start: 40px;
  }

  .info {
    text-align: start;
    align-items: start;
    gap: 16px;
  }

  .smash-img {
    max-width: 19rem;
  }
}
